<div class="main-content__inner">


    <div class="presentation-content">
        <h2>¡Hola, encantado de recibirte!</h2>
        <p>
            Mi nombre es Endika y soy un apasionado de la maquetación y el desarrollo frontend. Tengo más de 10 años de
            experiencia como maquetador web y he trabajado en proyectos reales y personales que me han permitido crecer
            constantemente. Me encanta aprender y explorar nuevas herramientas, y por eso he trabajado con frameworks
            como Angular y React. Angular, con su estructura ordenada, es mi favorito, aunque también he disfrutado de
            proyectos más flexibles. Si prefieres ir directo al grano, puedes echar un vistazo a los <a
                [routerLink]="['/proyectos']">proyectos</a> en los que he participado.
        </p>
        <p>
            Aunque mi especialidad es la maquetación, mi formación incluye un Grado Superior en Diseño Gráfico, que
            marcó el inicio de mi trayectoria, y otro en Desarrollo de Aplicaciones Web (DAW), donde amplié mis
            conocimientos en programación. No me considero programador al uso, pero tengo las habilidades necesarias
            para abordar tareas avanzadas de maquetación y desarrollo frontend.
        </p>
        <p>
            Hace poco más de un año decidí tomarme un descanso laboral para recargar energías, mudarme y actualizar mis
            conocimientos mediante cursos, mientras desarrollaba proyectos personales que me apasionan. Actualmente,
            estoy buscando una posición como maquetador web o frontend developer, donde pueda aportar mi experiencia y
            seguir creciendo. Me definiría como un Frontend Designer o UI Developer, con el equilibrio perfecto entre
            diseño y código. Si buscas a alguien con mi perfil, ¡estaré encantado de conocerte!
        </p>
    </div>

</div>