@import '../../../styles/variables';

.filter-bar{
    margin-bottom: 1.2rem;
    display: flex;
    align-items: center;
    max-width: 1196px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.3rem;
    .tags-filter{
        &__item{
            font-family: $font-b-regular;
            font-weight: 300;
            letter-spacing: .60px;
            font-size: $font-xxs;
            background-color: transparent;
            border-radius: 20px;
            padding: .5rem 1.2rem;
            color: $base-font-color;
            border: 1px solid $accent-color;
            margin-right: .6rem;
            margin-bottom: .5rem;
            cursor: pointer;
            transition: ease-in .1s;
            &:hover{
                background-color: rgba($base-font-color, .20);
                color: $base-font-color;
            }
            &.active{
                background-color: $accent-color;
                color: $body-bg;
                font-weight: 600;
            }
        }       
    }
    .change-view{
        margin-bottom: .3rem;
        transition: ease-in .1s;
        margin-left: auto;
        display: flex;
        flex-direction: row-reverse;
        img{
            display: block;
            cursor: pointer;
            &:hover{
                transform: scale(.92);
            }
        }
        span{
            font-size: 15px;
            font-weight: 100;
            margin-right: .8rem;
        }
    }
}

@media screen and (max-width: 992px) {
    .filter-bar{
        .tags-filter{
            display: flex;
            width: 100%;
            overflow-x: auto;
            padding-bottom: 0rem;
            &::-webkit-scrollbar {
                height: 5px;
            }
            &::-webkit-scrollbar-track {
                background-color: #202d36;
                border-radius: 5px;
            }
            &::-webkit-scrollbar-thumb {
                border-radius: 100px;
                border: 0px solid transparent;
                background-clip: content-box;
                background-color: rgba(255, 255, 255, 0.15);
            }
        }
        .change-view{
            position: absolute;
            top: 26px;
            right: 1.5rem;
        }
    }
}

$anim-speed: 270ms;

@keyframes card-in{
    0%{
        opacity: 0;
        top: 40px;
    }
    100%{
        opacity: 1;
        top: 0px;
    }
}

.no-files{
    font-weight: 100;
    text-align: center;
    height: calc(100vh - 192px);
    font-size: 1.3rem;
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-list-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    height: calc(100vh - 225px);
    overflow-y: auto;
    padding-right: 8px;
    grid-auto-rows: minmax(min-content, max-content);
    max-width: 1196px;
    margin: 0 auto;
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-track {
        background-color: #202d36;
        border-radius: 5px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 100px;
        border: 0px solid transparent;
        background-clip: content-box;
        background-color: rgba(255, 255, 255, 0.15);
    }
    .grid-item {
        opacity: 0;
        position: relative;
        animation: card-in $anim-speed linear;
        animation-fill-mode: forwards;
        animation-delay: 300ms;
        //transform: scale(1.15);
        @for $i from 1 through 30{
            &:nth-child(#{$i}){
                animation-delay: $i * 100ms;
            }
        }
    }
    &.second-layout{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        .grid-item{
            .card-project {
                &__block{
                    min-height: 55px;
                    background-image: none !important;
                    background-color: #2f404a;
                    h1{
                        font-size: 25px;
                    }
                    .categories{
                        bottom: 24px;
                    }
                }
                &:hover{
                    .card-project__block{
                        .categories{
                            bottom: 150px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .card-list-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 992px) {
    .card-list-grid {
        grid-template-columns: repeat(3, 1fr);
        height: calc(100vh - 192px);
    }
}

@media screen and (max-width: 900px) {
    .card-list-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 660px) {
    .card-list-grid {
        grid-template-columns: repeat(1, 1fr);
        margin-left: -1rem;
        padding-left: 1rem;
        margin-right: -1rem;
        padding-right: 1rem;
    }
}



.card-project {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 1px solid transparent;
    transition: ease-in .25s;
    @media (max-width:660px){
        border-color: rgba(255, 255, 255, 0.2);
    }
    &__block{
        background-repeat: no-repeat;
        background-position: top;
        background-size: 100%;
        position: relative;
        padding: 20px;
        min-height: 225px;
        display: flex;
        flex-direction: column;
        transition: ease-in .25s;
        overflow: hidden;
        text-align: left;
        h1{
            font-family: $font-b-regular;
            font-weight: 600;
            font-size: 26px;
            line-height: 30px;
            margin: auto 0px 8px 0px;
            color: $proyectos-bg;
            z-index: 1;
            transition: ease-in .25s;
            position: absolute;
            bottom: 39px;
        }
        .categories{
            font-family: $font-b-regular;
            font-weight: 100;
            font-size: 13px;
            line-height: 15px;
            color: $base-font-color;
            margin: 0px;
            z-index: 1;
            position: absolute;
            bottom: 28px;
            transition: ease-in .25s;
            font-weight: 300;
            font-family: "Rawline";
        }
        .description{
            font-family: $font-b-regular;
            font-weight: 100;
            font-size: 13px;
            line-height: 15px;
            color: $base-font-color;
            margin: 0px;
            padding-right: 1rem;
            z-index: 1;
            position: absolute;
            bottom: 17px;
            transition: ease-in .25s;
            font-weight: 300;
            font-family: "Rawline";
            opacity: 0;
        }
        &--overlay{
            position: absolute;
            z-index: 0;
            background-color: transparent;
            height: 100%;
            width: 100%;
            left: 0px;
            bottom: -100%;
            box-sizing: border-box;
            transition: ease-in-out .25s;
        }
    }
    &:hover,
    &:focus {
        outline: none;
        color: $custom-white;
        border-color: rgba($custom-white, .4);
        .card-project__block{
            text-align: left;
            background-size: 120%;
            transition: ease-in .25s;
            h1{
                font-size: 32px;
                line-height: 35px;
                bottom: 127px;
            }
            .categories{
                font-weight: 500;
                bottom: 115px;
            }
            .description{
                opacity: 1;
                bottom: 20px;
                font-size: 18px;
                text-align: left;
                line-height: 23px;
                
            }
            &--overlay{
                background-color: rgba(22, 34, 42, .76);
                bottom: 0%;
            }
        }
    }
}