<article class="proyect-detail-article">
    <div class="detail-images-container" *ngIf="proyectoSeleccionado.imagenes.length != 0">
        <div class="image-item" *ngFor="let image of proyectoSeleccionado.imagenes">
            <img class="image" src="'../../../assets/images/projects/{{proyectoSeleccionado.titulo.toLowerCase()}}/detalle/{{image}}" alt="Detalle">
        </div>
    </div>
    <div class="detail-info-container">
        
        <h1>{{proyectoSeleccionado.titulo}}</h1>
        
        <ul class="categories-list">
            <li class="categories-list__item" *ngFor="let code of proyectoSeleccionado.categorias">
                {{code}}
            </li>
        </ul>
        
        <p class="detail-description">
            {{proyectoSeleccionado.descripcion}}
        </p>
        
        <p *ngIf="proyectoSeleccionado.url.length != 0">
            <a class="external-url" href="{{proyectoSeleccionado.url}}" target="_blank">Visita la web de {{proyectoSeleccionado.titulo}}</a>
        </p>
        
        <div class="detail-technologies">
            <h2>Tecnologías:</h2>
            <ul class="detail-technologies-list">
                <li class="detail-technologies-list__item" *ngFor="let code of proyectoSeleccionado.tecnologias">
                    {{code}}
                </li>
            </ul>
        </div>
        
        <div class="detail-functions">
            <h2>Funciones:</h2>
            <p>{{proyectoSeleccionado.funciones}}</p>
        </div>
        
        <div class="detail-curiosity">
            <h2>Curiosidades:</h2>
            <p>{{proyectoSeleccionado.curiosidades}}</p>
        </div>
        
    </div>
</article>
