@import "../../../styles/variables";

.proyect-detail-article{
    display: flex;
    position: relative;
    padding-top: 1rem;
    .detail-images-container{
        display: flex;
        flex-direction: column;
        margin-right: 4rem;
        max-width: 900px;
        .image-item{
            .image{
                max-width: 100%;
                display: block;
                border: 10px solid #ffffff1c;
                box-sizing: border-box;
                margin-bottom: 1rem;
            }
        }
    }
    .detail-info-container{
        max-width: 400px;
        padding-right: 2rem;
        position: sticky;
        top: 1rem;
        height: fit-content;
        h1{
            font-family: $font-b-regular;
            font-weight: 600;
            font-size: 2.5rem;
            color: $accent-color;
            margin-top: 1rem;
            margin-bottom: 0.2rem;
        }
        h2{
            font-family: $font-a-regular;
            font-weight: 600;
            letter-spacing: 0.60px;
            font-size: $font-xl;
            margin: 0px 0px 0.3rem;
        }
        p{
            margin-top: 0px;
            font-family: $font-a-regular;
            font-weight: 100;
            font-size: 1rem;
        }
        .categories-list{
            list-style: none;
            padding: 0px;
            margin: 0px;
            &__item{
                display: contents;
                color: #ffffff40;
                &:after{
                    content: "-";
                }
                &:last-child{
                    &:after{
                        content: "";
                    }
                }
            }
        }
        .detail-description{
            margin-top: 1.5rem;
        }
        .external-url{
            color: #FFF;
            display: flex;
            align-items: center;
            line-height: 1rem;
            width: max-content;
            transition: ease-in 0.15s;
            margin: 2rem 0rem 2rem 0rem;
            &:before{
                content:"";
                background-image: url('../../../assets/images/icons/link-icon.svg');
                display: block;
                width: 16.7px;
                height: 8.5px;
                background-repeat: no-repeat;
                margin-right: .6rem;
                transition: ease-in 0.15s;
            }
            &:hover{
                //color: $accent-color;
                margin-left: 1rem;
            }
        }
        
        .detail-technologies{
            .detail-technologies-list{
                list-style: none;
                padding: 0px;
                margin: 1rem 0px 2rem;
                &__item{
                    display: contents;
                    color: #ffffff;
                    background: #3e4b54;
                    display: inline-block;
                    margin: 0px 7px 7px 0px;
                    border-radius: 30px;
                    padding: 5px 10px;
                    font-size: 12px;
                    letter-spacing: .60px;
                    text-transform: uppercase;
                }
            }
        }
        
        .detail-functions{
            overflow: hidden;
        }
        .detail-curiosity{
            margin-top: 1rem;
        }
    }
}

@media screen and (max-width: 992px) {
    .proyect-detail-article{
        .detail-images-container{
            margin-right: 2.5rem;
            .image-item{
                .image{
                    border: none
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .proyect-detail-article{
        display: flex;
        flex-direction: column;
        padding-top: 0rem;
        .detail-images-container{
            margin-right: 0rem;
            max-width: 100%;
            order: 2;
        }
        .detail-info-container{
            max-width: 100%;
            padding-right: 0px;
            order: 1;
            margin-bottom: 1rem;
            position: relative;
            top: inherit;
            height: auto;
            h1{
                margin-top: 0px;
                font-size: 2rem;
                margin-bottom: .5rem;
            }
        }
    }
}