@import '../../../styles/variables';

$anim-speed: 270ms;

@keyframes rrss-in{
    0%{
        opacity: 0;
        top: 40px;
    }
    100%{
        opacity: 1;
        top: 0px;
    }
}

.contact-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 4rem;
    li{
        position: relative;
        margin: 1rem;
        opacity: 0;
        animation: rrss-in $anim-speed linear;
        animation-fill-mode: forwards;
        @for $i from 1 through 3{
            &:nth-child(#{$i}){
                animation-delay: $i * 100ms;
            }
        }
        &:not(:last-child){
            margin-right: 1rem;
            
        }
        &:last-child{
            .rrss{
                padding-left: 3rem;
                padding-right: 3rem;
            }
        }
        .rrss{
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 1.1rem;
            text-decoration: none;
            font-weight: 100;
            border: 1px solid rgba(255, 255, 255, 0.1);
            padding: 3rem 5rem;
            border-radius: 4px;
            transition: ease-in .1s;
            &:before{
                content: "";
                background-image: url('../../../assets/images/icons/linkedin-icon.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                display: block;
                width: 80px;
                height: 80px;
                margin-bottom: 1.3rem;
                opacity: .8;
                transition: ease-in .1s;
            }
            &.rrss-linkedin{
                &:before{
                    background-image: url('../../../assets/images/icons/linkedin-icon.svg');
                }
            }
            &.rrss-gmail{
                &:before{
                    background-image: url('../../../assets/images/icons/email-icon.svg');
                }
            }
            &.rrss-cv{
                &:before{
                    background-image: url('../../../assets/images/icons/cv-icon.svg');
                    filter: invert(100%);
                }
            }
            &:hover{
                border: 1px solid rgba(255, 255, 255, 0.541);
                &:before{
                    transform: scale(.9);
                    opacity: 1;
                }
                &:after{
                    transform: scale(.9);
                    opacity: 1;
                }
                
            }
        }
        
    }
}



.download-link{
    &:after{
        content:"";
        display: block;
        width: 28px;
        height: 10px;
        background-image: url('../../../assets/images/icons/download-icon.svg');
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        bottom: -12px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #cfbebb;
        filter: invert(1);
        padding: 0.5rem;
        border-radius: 100px;
        background-size: 38%;
        transition: ease-in 0.1s;
    }
    &:hover{
        &:after{
            background-color: white;
            filter: invert(0);
        }
        
    }
}


.external-link{
    &:after{
        position: absolute;
        top: -10px;
        right: -5px;
        background-color: #2a356c;
        padding: .5rem;
        border-radius: 50%;
        background-size: 50%;
        filter: invert(100%);
        transition: ease-in .1s;
    }
}



@media screen and (max-width: 767px) {
    .contact-container{
        flex-direction: column;
        align-items: inherit;
        width: 100%;
        margin-bottom: 1rem;
        li{
            width: 100%;
            
            margin-top: 0px;
            margin-bottom: 1rem;
            &:not(:last-child){
                margin-right: 0rem;
                margin-left: 0rem;
                
            }
            &:last-child{
                margin-right: 0rem;
                margin-left: 0rem;
                margin-bottom: 2rem;
                .rrss{
                    padding-left: 2rem;
                    padding-right: 2rem;
                    padding-bottom: 2rem;
                }
            }
            .rrss{
                padding: 1.5rem 2rem;
                box-sizing: border-box;
                font-size: $font-x;
                &:before{
                    width: 50px;
                    height: 50px;
                    margin-bottom: 1rem;
                }
            }
        }
    }
}