<p>Contáctame fácilmente por LinkedIn o e-mail. Si lo prefieres, también puedes descargar mi currículum en PDF.</p>

<ul class="contact-container">
  <li>
    <a title="Se abrirá en una pestaña nueva del navegador" class="rrss rrss-linkedin" href="http://www.linkedin.com/in/endika-llonin-abasolo" target="_blank">
      LinkedIn
    </a>
  </li>
  <li>
    <a title="Se abrirá el proveedor de correo por defecto de tu equipo" class="rrss rrss-gmail" href="mailto:endika.llonin.abasolo@gmail.com">
      e-mail
    </a>
  </li>
  <li class="download-link">
    <a href="./assets/pdf/CV_Frontend-designer_Endika-Llonin-Abasolo.pdf" download title="Se descargará mi curriculumn en formato PDF" class="rrss rrss-cv">
      Currículum (PDF)
    </a>
  </li>
</ul>
