<section>
    <div class="left-content">
        <h2 class="pink">
            Habilidades principales
        </h2>
        
        <ul>
            <li><strong>Maquetación web:</strong> Flexbox, CSS Grid, Responsive Design, Animaciones, Metodologías css.</li>
            <li><strong>Desarrollo Frontend:</strong> Clean code, manipulación DOM, integración con APIs REST, uso de TypeScript.</li>
            <li><strong>Accesibilidad:</strong> Implementación según estándares WCAG para garantizar experiencias inclusivas.</li>
            <li><strong>UX/UI:</strong> Prototipado, diseño centrado en el usuario, documentación y diseño con herramientas modernas.</li>
            <li><strong>SEO:</strong> Optimización on-page y buenas prácticas para rendimiento.</li>
        </ul>
        
        <h2 class="green">
            Lenguajes y herramientas
        </h2>
        <ul>
            <li><strong>Lenguajes:</strong> HTML5, CSS3, JavaScript (ES6+), TypeScript.</li>
            <li><strong>Preprocesadores:</strong> SASS, LESS.</li>
            <li><strong>Metodologías:</strong> BEM, OOCSS, ITCSS, Atomic Design.</li>
            <li><strong>Otras herramientas:</strong> JQuery (en proyectos legacy).</li>
        </ul>
        <h2 class="red">
            Frameworks y herramientas
        </h2>
        <ul>
            <li><strong>CSS Frameworks:</strong> Bootstrap 4/5, TailwindCSS.</li>
            <li><strong>Frameworks JavaScript:</strong> Angular (v13+, v18+), React (v16+).</li>
            <li><strong>CMS:</strong> WordPress, Liferay (básico), Drupal (básico).</li>
            <li><strong>Herramientas adicionales:</strong> PrimeNG, Material, PrimeReact, Platea (maquetación en proyectos específicos).</li>
        </ul>
        <h2 class="yellow">
            Herramientas que utilizo
        </h2>
        <ul>
            <li><strong>Entorno de desarrollo:</strong> Visual Studio Code, Git, GitHub, Sourcetree</li>
            <li><strong>Diseño y prototipado:</strong> Figma, Adobe XD, Photoshop, Illustrator, AxureRP</li>
            <li><strong>Gestión y colaboración:</strong> JIRA, Teams, Trello</li>
        </ul>
    </div>
    <div class="right-content">
        <h2>Certificaciones destacadas</h2>
        <swiper [pagination]="true" [loop]="true" [pagination]="{clickable: true}" [autoplay]="{delay: 5000}" class="cetifications-swiper">
            <ng-template swiperSlide>
                <a href="" target="_blank" title="Certificación UX-PM Nivel 2">
                    <img src="./assets/images/certifications/ux-certification.svg" alt="">
                </a>
            </ng-template>
            <ng-template swiperSlide>
                <a href="" target="_blank" title="Certificación UX-PM Nivel 2">
                    <img src="./assets/images/certifications/ux-certification.svg" alt="">
                </a>
            </ng-template>
            <ng-template swiperSlide>
                <a href="" target="_blank" title="Certificación UX-PM Nivel 2">
                    <img src="./assets/images/certifications/ux-certification.svg" alt="">
                </a>
            </ng-template>
          </swiper>
        <h2>Formación complementaria</h2>
        <ul>
            <li><strong>Frontend:</strong> Máster en JavaScript, Principios con Angular y React</li>
            <li><strong>Metodologías CSS:</strong> BEM, OOCSS, POSTCSS <span>(Zamudio)</span></li>
            <li><strong>Gestión de código:</strong> Git avanzado <span>(Bilbomática)</span></li>
            <li><strong>SEO:</strong> Optimización on-page <span>(Udemy)</span></li>
          </ul>
    
        <h2>Idiomas</h2>
        <ul>
            <li><strong>Castellano y Euskera:</strong> Nativos, certificación EUS B2.</li>
            <li><strong>Inglés:</strong> Conversación básica, lectura y comprensión media.</li>
        </ul>
    </div>
    
</section>
