@import "../../../styles/variables";

$anim-speed: 300ms;

h2{
    font-size: $font-xxll;
    color: $accent-color;
    margin-top: 2.5rem;
}

ul{
    display: flex;
    flex-wrap: wrap;
    li{
        margin-right: 1.2rem;
        margin-bottom: 0.5rem;
        line-height: 24px;
        font-size: 1rem;
        span{
            font-family: $font-a-regular;
            font-weight: 100;
            font-size: 14px;
            opacity: .4;
        }
    }
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    .left-content{
        padding-right: 4rem;
        max-width: 600px;
        min-width: 400px;
        width: 100%;
        position: relative;
        animation: left-in $anim-speed linear;
        animation-fill-mode: forwards;
        h2{
            width: fit-content;
            font-size: 1.35rem;
            font-weight: 500;
            padding: 6px 10px;
            margin-bottom: 1.5rem;
            &:after{
                content: "";
                display: block;
                width: 100%;
                height: 4px;
                margin-top: .7rem;
                opacity: .2;
                display: none;
            }
            
            &.green{
                color: $accent-color;
                background-color: rgba($accent-color, 0.1);
                &:after{
                    background-color: $accent-color;
                }
            }
            &.pink{
                color: $conocimientos-bg;
                background-color: rgba($conocimientos-bg, 0.1);
                &:after{
                    background-color: $conocimientos-bg;
                }
            }
            &.blue{
                color: $proyectos-bg;
                background-color: rgba($proyectos-bg, 0.1);
                &:after{
                    background-color: $proyectos-bg;
                }
            }
            &.red{
                color: $experiencia-bg;
                background-color: rgba($experiencia-bg, 0.1);
                &:after{
                    background-color: $experiencia-bg;
                }
            }
            &.yellow{
                color: $contacto-bg;
                background-color: rgba($contacto-bg, 0.1);
                &:after{
                    background-color: $contacto-bg;
                }
            }
        }
        ul{
            margin-left: 1rem;
            li{
                font-weight: 100;
            }
        }
    }
    .right-content{
        max-width: 400px;
        padding-right: 2rem;
        position: relative;
        animation: right-in $anim-speed linear;
        animation-fill-mode: forwards;
        h2{
            font-size: 1.2rem;
            font-weight: 500;
            background: #2b3e4a;
            padding: 6px 10px;
            display: inline-block;
            color: #ffffff;
            &:not(:first-child){
                margin-top: 1.5rem;
            }
        }
        ul{
            flex-direction: column;
            margin-left: 11px;
            li{
                margin-right: 0rem;
                margin-bottom: 0.3rem;
                line-height: 24px;
                font-weight: 100;
            }
        }
    }
}


@keyframes left-in{
    0%{
        opacity: 0;
        top: 70px;
    }
    100%{
        opacity: 1;
        top: 0px;
    }
}
@keyframes right-in{
    0%{
        opacity: 0;
        top: -70px;
    }
    100%{
        opacity: 1;
        top: 0px;
    }
}
@media (max-width: 1300px){
    section{
        .right-content{
            padding-right: 1rem;
        }
    }
}
@media (max-width: 1200px){
    section{
        flex-wrap: wrap;
        .left-content{
            max-width: inherit;
            min-width: inherit;
            padding-right: 0rem;
        }
        .right-content{
            width: 100%;
            max-width: inherit;
            padding-right: 1rem;
            .swiper-container{
                max-width: 300px;
                margin: 0px;
            }
        }
    }
}
@media (max-width: 992px){
    section{
        flex-wrap: wrap;
        .left-content{
            //max-width: 400px;
            min-width: inherit;
            padding-right: 2rem;
        }
        .right-content{
            //max-width: 370px;
            padding-right: 0px;
            h2{
                font-size: 1.35rem;
            }
        }
    }
}
@media (max-width: 767px){
    section{
        flex-wrap: wrap;
        .left-content{
            max-width: inherit;
            min-width: inherit;
            padding-right: 0rem;
            margin-top: 1rem;
            h2{
                margin-top: 2rem;
                font-size: 1.25rem;
                font-weight: 100;
                &:first-child{
                    margin-top: 0rem;
                }
            }
        }
        .right-content{
            max-width: inherit;
            padding-right: 0px;
            margin-bottom: 1.5rem;
            h2{
                font-weight: 100;
            }
            .swiper-container{
                max-width: 320px;
                margin: 0px auto;
                margin-top: 1rem;
            }
        }
    }
}