<section>
    <div class="left-content">
        <h2 class="pink">
            Habilidades principales
        </h2>
        
        <ul>
            <li><strong>Maquetación web:</strong> Flexbox, CSS Grid, Responsive Design, Animaciones, Metodologías css.</li>
            <li><strong>Desarrollo Frontend:</strong> Clean code, manipulación DOM, integración con APIs REST, uso de TypeScript.</li>
            <li><strong>Accesibilidad:</strong> Implementación según estándares WCAG para garantizar experiencias inclusivas.</li>
            <li><strong>UX/UI:</strong> Prototipado, diseño centrado en el usuario, documentación y diseño con herramientas modernas.</li>
            <li><strong>SEO:</strong> Optimización on-page y buenas prácticas para rendimiento.</li>
        </ul>
        
        <h2 class="green">
            Lenguajes y herramientas
        </h2>
        <ul>
            <li><strong>Lenguajes:</strong> HTML5, CSS3, JavaScript (ES6+), TypeScript.</li>
            <li><strong>Preprocesadores:</strong> SASS, LESS.</li>
            <li><strong>Metodologías:</strong> BEM, OOCSS, ITCSS, Atomic Design.</li>
            <li><strong>Otras herramientas:</strong> JQuery (en proyectos legacy).</li>
        </ul>
        <h2 class="red">
            Frameworks y herramientas
        </h2>
        <ul>
            <li><strong>CSS Frameworks:</strong> Bootstrap 4/5, TailwindCSS.</li>
            <li><strong>Frameworks JavaScript:</strong> Angular (v13+, v18+), React (v16+).</li>
            <li><strong>CMS:</strong> WordPress, Liferay (básico), Drupal (básico).</li>
            <li><strong>Herramientas adicionales:</strong> PrimeNG, Material, PrimeReact, Platea (maquetación en proyectos específicos).</li>
        </ul>
        <h2 class="yellow">
            Herramientas que utilizo
        </h2>
        <ul>
            <li><strong>Entorno de desarrollo:</strong> Visual Studio Code, Git, GitHub, Sourcetree</li>
            <li><strong>Diseño y prototipado:</strong> Figma, Adobe XD, Photoshop, Illustrator, AxureRP</li>
            <li><strong>Gestión y colaboración:</strong> JIRA, Teams, Trello</li>
        </ul>
    </div>
    <div class="right-content">
        <h2>Certificaciones destacadas</h2>
        <p>Pulsa en cada una para ver el original.</p>
        <swiper [loop]="true" [pagination]="{clickable: true}" [speed]="800" [spaceBetween]="16" [autoplay]="{delay: 4000, disableOnInteraction: false}" class="cetifications-swiper">
            <ng-template swiperSlide>
                <a href="./assets/images/certifications/originals/diseno-web-certification.pdf" target="_blank" title="Certificación diseño web y multimedia">
                    <img src="./assets/images/certifications/web-design-certification.svg" alt=""/>
                </a>
            </ng-template>
            <ng-template swiperSlide>
                <a href="./assets/images/certifications/originals/git-github-certification.pdf" target="_blank" title="Certificación Git-GitHub">
                    <img src="./assets/images/certifications/git-certification.svg" alt=""/>
                </a>
            </ng-template>
            <ng-template swiperSlide>
                <a href="./assets/images/certifications/originals/ux-certification.pdf" target="_blank" title="Certificación UX-PM Nivel 2">
                    <img src="./assets/images/certifications/ux-certification.svg" alt=""/>
                </a>
            </ng-template>
            <ng-template swiperSlide>
                <a href="./assets/images/certifications/originals/angular-certification.pdf" target="_blank" title="Certificación angular">
                    <img src="./assets/images/certifications/angular-certification.svg" alt=""/>
                </a>
            </ng-template>
            <ng-template swiperSlide>
                <a href="./assets/images/certifications/originals/js-certification.pdf" target="_blank" title="Certificación javascript avanzado">
                    <img src="./assets/images/certifications/js-certification.svg" alt=""/>
                </a>
            </ng-template>
            <ng-template swiperSlide>
                <a href="./assets/images/certifications/originals/ts-certification.pdf" target="_blank" title="Certificación typescript">
                    <img src="./assets/images/certifications/ts-certification.svg" alt=""/>
                </a>
            </ng-template>
            <ng-template swiperSlide>
                <a href="./assets/images/certifications/originals/node-certification.pdf" target="_blank" title="Certificación nodejs">
                    <img src="./assets/images/certifications/node-certification.svg" alt=""/>
                </a>
            </ng-template>
            <ng-template swiperSlide>
                <a href="./assets/images/certifications/originals/sql-certification.pdf" target="_blank" title="Certificación sql">
                    <img src="./assets/images/certifications/sql-certification.svg" alt=""/>
                </a>
            </ng-template>
          </swiper>
          <h2>Formación continua en</h2>
          <ul>
              <li><strong>Frontend:</strong> Enfoque en JavaScript moderno (ES6+), Angular, React y TypeScript.</li>
              <li><strong>CSS avanzado:</strong> Metodologías como BEM, Atomic design y el uso de preprocesadores como SASS y POSTCSS.</li>
              <li><strong>Gestión de código:</strong> Dominio de Git y buenas prácticas de control de versiones.</li>
              <li><strong>Herramientas IA:</strong> Utilización de IAs generativas para agilizar los desarrollos y contenidos.</li>
          </ul>
    
        <h2>Idiomas</h2>
        <ul>
            <li><strong>Castellano y Euskera:</strong> Nativos, certificación EUS B2.</li>
            <li><strong>Inglés:</strong> Conversación básica, lectura y comprensión media.</li>
        </ul>
    </div>
    
</section>
