/*COLORS
*************************************************/
//BASE-COLORS
$accent-color: #CFFF88;//#8ED3BB;
$custom-white: #FFFFFF;

//BG-COLORS
$body-bg: #26353f;
$header-bg: #1a262e;

$presentacion-bg: #CFFF88;
$proyectos-bg: #88D0FF;
$conocimientos-bg: #F788FF;
$experiencia-bg: #FF8888;
$contacto-bg: #FFF388;

$overlay-bg: rgb(136 240 254);

//FONTS COLORS
$base-font-color: #FFFFFF;
$highlighted-font-color: $accent-color;
$overlay-font-color: $body-bg;


/*FONTS
*************************************************/
$font-a-regular: 'Open Sans', sans-serif;
$font-b-regular: 'Rawline', sans-serif;



//FONT SIZES
$font-xxs: 0.8rem;
$font-xs: 0.875rem;
$font-x: 1rem;
$font-xl: 1.25rem;
$font-xxl: 1.4rem;
$font-xxll: 1.65rem;
$font-xxxl: 1.875rem;
$font-xxxxl: 2rem;
